{# templates/admin/login.html.twig #}

{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <p>
EXCEPTIO STUDIO - ADMINISTRATION
</p>
{% endblock %}

{% block main %}
    <p>
chapeaupointu
</p>
{% endblock %}


