{% extends 'base.html.twig' %}

{% block title %}Exceptio - Studio
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/Studio.css') }}">
{% endblock %}

{% block body %}

	<div class="BlackDiv">
		<div class="Studiotitle ">
			STUDIO
		</div>
        <div class="BlackParagraph font_universLight">
		EXCEPTIO est un studio créatif fondé à Bordeaux, spécialisé dans les domaines du vin et de l’art de vivre, de la culture et du luxe. Porté par quatre passionnées, Stéphanie et Sophie Javel, Floriane Barel et Alice Cloarec, le studio unit tous les savoir-faire de la communication au travers du graphisme, de l’illustration, de l’écriture et du digital. Image de marque, packaging et édition, sites Internet et réseaux sociaux, photo et vidéo, design d’espace... notre travail soutient et accompagne toute recherche et tout développement d’identité. De l’image au mot et du mot à l’image, chaque projet est envisagé comme un univers unique où se conjuguent forme et sens.
        </div>
    </div>

	<div class="ekip">

		{# <div class="Padding">
			L'ÉQUIPE
		</div> #}

		<img src="{{ asset('assets/img/Unir_Quatuor.png') }}" alt="une photo de l'équipe d'exceptio" class="ekip_pic">

        	<div class="Naming ">
				STÉPHANIE JAVEL
			</div>
		<div class="Paragraph font_universLight">

		
		
Diplômée de l’ESAG-Atelier Met de Penninghen à Paris (1990), Stéphanie Javel crée son premier studio de création à Bordeaux en 1992. D’année en année, son activité s’oriente plus spécifiquement vers le monde du vin et des grands châteaux. Parallèlement, elle œuvre dans le contexte muséal pour lequel elle crée visuels et catalogues d’exposition. 
En 2006, elle fonde le studio EXCEPTIO avec sa sœur Sophie. Exerçant son œil expert en matière de communication, elle se consacre à la direction artistique de projets : conseil, stratégie visuelle, création, maîtrise et suivi technique. Au quotidien, le travail de l’image tant dessinée que photographiée fait partie intégrante de son univers.

		</div>

		<img src="assets/img/Esperluette.svg" alt="" class="esperluette">
		
        <div class="Naming ">
				SOPHIE JAVEL
			</div>

		<div class="Paragraph font_universLight">

			

Détentrice d’un DEA et d’un Magistère en Lettres Modernes et en Sciences Sociales à la Sorbonne et d’une formation en Histoire de l’Art à l’Ecole du Louvre, Sophie Javel investit l’univers des musées où elle devient Attachée de Conservation. Durant plus de dix ans, elle se spécialise dans les domaines de la communication culturelle, de la conception graphique et rédactionnelle, et des publications. En 2006, elle fonde EXCEPTIO avec sa sœur Stéphanie.
Mettant à profit son parcours singulier entre littérature, maîtrise des signes (mythes, symboles et héraldique), sociologie et culture des arts, elle se consacre à la réflexion stratégique et à l’élaboration de contenus. Sa vision de sens et de sensibilité lui permet de concevoir les récits personnalisés et identitaires, en image et en mots, qui sous-tendent tous les aspects de la communication de marque. En tant que conceptrice rédactrice, elle concentre son expertise créative sur le design éditorial, l’écriture et la création de noms de produits.
		</div>

		<img src="assets/img/Esperluette.svg" alt="" class="esperluette">

        <div class="Naming ">
				FLORIANE BAREL
			</div>

		<div class="Paragraph font_universLight">

	
Titulaire du Mastère de Direction Artistique et Création (Diplôme Supérieur de Design et Communication) de l’Atelier d’Arts Appliqués d’Angers, Floriane Barel travaille avec rigueur le logo, le dessin stylisé et digital, la construction graphique, la scénographie et l’édition. En 2019, elle rejoint Stéphanie et Sophie au sein d’EXCEPTIO. 
Appliquant son sens de la composition à l’architecture de communication, elle prend notamment en charge les réseaux sociaux dans leur structure et leur suivi.
		</div>

		<img src="assets/img/Esperluette.svg" alt="" class="esperluette">

        	<div class="Naming ">
				ALICE CLOAREC

			</div>

		<div class="Paragraph font_universLight">

		
	
Titulaire du Mastère de Direction Artistique en Design visuel et digital / spécialité Publicité de l’ECV Bordeaux, Alice Cloarec exerce sa sensibilité dans tous les registres de la création d’image, fixe ou en mouvement : illustration, peinture, photographie, vidéo. Elle rejoint Stéphanie, Sophie et Floriane au sein d’EXCEPTIO en 2021.
Entre Bordeaux et Paris où elle est installée, elle transporte carnets et tablettes pour saisir ou esquisser paysages, emblèmes, décors, portraits…Elle prend notamment en charge tous les films et les animations d’images, en montage ou en Motion Design.
		</div>


	</div>

	<div class="Melencolia_holder">


        <div class="Naming ">
				MELENCOLIA
			</div>
		<div class="Paragraph font_universLight">

			
		
Le choix emblématique de la gravure « Melencolia-I » de Dürer repose sur la savante association des éléments qui la constituent, ainsi que sur sa portée esthétique et symbolique. Placer EXCEPTIO sous son signe, c’est inscrire notre activité dans les champs complémentaires du respect du temps, de l’inspiration, du doute, de la construction minutieuse, de la connaissance et de l’humilité. Ce choix nous situe du côté des bâtisseurs de signes et de sens. Il incarne aussi notre souci constant du beau et renvoie à ce retrait indissociable de la création.		</div>

		<img src="{{ asset('assets/img/Melancolie.png') }}" alt="MELENCOLIA" class="Gravure">
		<div class="legende font_universLight">
			Albrecht Dürer, Melencolia I , 1514, burin
			<br>
			(état de la Collection Mancel, musée des Beaux-Arts de Caen, Archives, 160-31)

		</div>

	</div>

{% endblock %}
