{% extends 'base.html.twig' %}

{% block title %}Exceptio - Contact{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/Contact.css') }}">
{% endblock %}
{% block body %}
    <div class="ContactWrapper">
        
           <span class="font_UniversClassic">
               EXCEPTIO Bordeaux <br>
           </span> 
           <a href="https://www.google.fr/maps/place/Exceptio/@44.7771877,-0.6414694,17z/data=!4m5!3m4!1s0xd54d92a7bb4ce7f:0xfc8e565efee9bdba!8m2!3d44.7771839!4d-0.6392807" target="blank">
           <span class="Contactlink font_universLight">
               35, allée de Mégévie <br>
            33170 Gradignan <br>
           </span>
            
        </a>

        <br>
       

             <span class="font_UniversClassic">
                     EXCEPTIO Paris <br>
                 </span>
             <a href="https://www.google.com/maps/place/36+Rue+de+Longchamp,+75116+Paris/@48.8650557,2.2895098,19.75z/data=!4m5!3m4!1s0x47e66fe52f43073f:0x3fe4b8968a0a67d2!8m2!3d48.8650885!4d2.2896752" target="blank">
               <span class="Contactlink font_universLight">
            36 rue de Longchamp <br>
            75116 Paris <br>
 </span>
        </a>
        <br>
        <a href="tel:+33685179482" class="Contactlink">
            <span class="black">
            Stéphanie Javel  
            </span >
            +33 6 85 17 94 82 <br>
        </a>

        <a href="tel:+33675070738" class="Contactlink">
            <span class="black">
            Sophie Javel
            </span>
            <span class="font_universLight">
            +33 6 75 07 07 38
            </span>
             <br>
        </a>

        <a href="tel:+33635506910" class="Contactlink">
            <span class="black">
            Floriane Barel
            </span>
            <span class="font_universLight">
             +33 6 35 50 69 10 <br>
             </span>
        </a>

        <a href="tel:+33681857085" class="Contactlink">
            <span class="black">
            Alice Cloarec
            </span>
            <span class="font_universLight">
             +33 6 81 85 70 85 <br>
             </span>
        </a>

        <a href="mailto:exceptio@exceptio.fr" class="Contactlink font_universLight">
            mail - exceptio@exceptio.fr <br>
        </a>
        <br>
        <br>
        <a href="https://www.linkedin.com/company/exceptio-studio/" target="blank" class="Contactlink font_universLight">
            linkedin - EXCEPTIO Studio <br>
        </a>

        <a href="https://www.instagram.com/exceptio.studio/?hl=fr" target="blank" class="Contactlink font_universLight">
            instagram - @exceptio.studio <br>
        </a>
        <a href="https://www.facebook.com/exceptio.studio/" target="blank" class="Contactlink font_universLight">
            facebook - @exceptio.studio <br>
        </a>
        <br>
        <br>
        <br>
        <a href="{{ path('app_mentionslegales') }}" class="Contactlink font_universLight">
            Mentions légales
        </a>

    </div>
{% endblock %}
