{% extends 'base.html.twig' %}

{% block title %}Hello ConseilController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/Conseil.css') }}">
{% endblock %}
{% block body %}

<div class="ConseilTitle">CONSEIL</div>
    <div class="ConseilMainText">    
        Avec une expérience de plus de 25 ans dans les domaines de l’art de vivre et du luxe, EXCEPTIO développe une expertise créative et culturelle qui l’engage au coeur des mécanismes fondamentaux de communication : stratégie visuelle, architecture éditoriale, analyse culturelle, recherche de noms, jusqu’au conseil en matière d’accomplissement technique.
    </div>

    	{% include "PhotoGrid/Index.html.twig" %}
{% endblock %}
